# Data Import

In [67]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
winLoss = pd.read_csv('winners.csv', names=['Win/Loss'])
words1000 = pd.read_csv('mostfreq1000word.csv', encoding='cp1252', names=['Tag'])
speeches = pd.read_csv('speeches.csv', names=['Speech'])
decepWords = pd.read_csv('deceptionword.csv', names=['Words'])
decepWordCount = pd.read_csv('deceptiondocword.csv', names=decepWords['Words'].tolist())
wordRates = pd.read_csv('mostfreq1000docword.csv', names=words1000['Tag'].tolist())

# Data Exploration
## Correlations

In [101]:
df1 = pd.concat([winLoss, wordRates], axis=1, sort=False)
corrMatrix = df1.corr()
winLossCorr = pd.DataFrame(corrMatrix.iloc[0,1:])
winLossCorr.sort_values(['Win/Loss'], inplace=True)
corrMatrix.head()

,Win/Loss,the_AT,and_CC,to_TO,of_IN,a_AT,in_IN,we_PPSS,i_PPSS,for_IN,...,equal_JJ,east_NR,walk_VB,morning_NN,decision_NN,led_VBD,september_NP,areas_NNS,outstanding_JJ,streets_NNS
Win/Loss,1.000000,-0.294418,-0.222703,0.132682,-0.313305,0.016004,-0.140568,0.304108,-0.079540,0.045443,...,-0.023477,-0.095534,0.115551,-0.025444,-0.107549,0.137360,0.063342,-0.016419,0.159144,0.124807
the_AT,-0.294418,1.000000,0.278018,-0.188944,0.607511,-0.036065,0.341771,-0.113385,-0.103354,-0.087347,...,-0.081887,0.251515,-0.054609,0.118692,0.059695,0.052396,0.139839,-0.024485,-0.081072,0.077392
and_CC,-0.222703,0.278018,1.000000,-0.350320,0.412078,-0.039177,0.186335,-0.071729,-0.091281,-0.012632,...,-0.035559,0.085341,-0.082285,0.036687,-0.055449,0.189316,0.021153,0.111370,-0.077141,0.119483
to_TO,0.132682,-0.188944,-0.350320,1.000000,-0.346793,-0.092749,-0.163980,0.197217,0.247939,-0.022078,...,-0.054522,-0.158273,0.012579,0.057555,0.068293,-0.107278,0.081090,0.002855,0.026287,-0.030155
of_IN,-0.313305,0.607511,0.412078,-0.346793,1.000000,0.103220,0.324458,-0.168459,-0.239155,-0.160246,...,0.037349,0.205458,-0.052436,0.056394,-0.059528,0.080959,0.021040,0.095490,-0.081375,0.061736

In [106]:
winLossCorr.head()

               Win/Loss
obama_NP      -0.403759
greater_JJR   -0.354763
government_NN -0.353634
elected_VBN   -0.333501
of_IN         -0.313305